.header {
  background-image:url("http://bg2.cool/patterns/random/roses.gif");
  background-size: cover;
  background-position: center;
  position: relative;
  background-size: 50%;
}

.cool {
  background-image:url(roses.gif);
  background-size: 50%;
  background-position: center
}

.overlay {
  position: absolute;
  min-height: 90%;
  min-width: 90%;
  left: 5%;
  top: 5%;
  background: rgba(255, 255, 255, 0.8);
  overflow:auto ; /* minds inside and outside floatting elements, fine if no size given */
}

.description {
  left: 50%;
  position: absolute;
  top: 20%;
  min-width: 80%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #6ab446;
}
.description p {
  color: ##000000;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description button {
  border:1px solid #6ab446;
  background:#6ab446;
  border-radius: 0;
  color:#fff;
}
.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

h1.cool { 
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-size: 9vw;
  margin: auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
}

.desc {
  font-size: 8vw;
  line-height: 100%;
}

.row {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 5%;
  right: 5%;
}

.collapse.in { min-height: 50px;border: 1px solid blue; }

.btn-xlg {
    padding: 32px 32px;
    font-size: 60px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
