body {
    margin: 60px auto;
    width: 90%;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.cool {
  font-family: 'Heebo', 'Sans-Serif';
  background-image:url("http://bg2.cool/patterns/random/roses.gif");
  background-size: 50%;
  background-position: center
}

.container {
    background-color: #ffffff;
    padding: 10px;
    overflow:hidden ; /* minds inside and outside floatting elements, fine if no size given */
}

.defaultdiv {
    overflow:hidden ; /* minds inside and outside floatting elements, fine if no size given */
}

h1{
  font-family: "Roboto", sans-serif;
  margin: 10px;
  text-align: left;
}

h1.cool {
  font-family: "Kanit", sans-serif;
  font-size: 8.75vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: auto;
}

h1.bold {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 5vw;
  font-weight: 900;
  margin: 10px;
  text-align: left;
  margin: auto;
}


.btn-group .buttonleft {
  background-color: #e7e7e7; color: black; /* Green */
  border: 1px solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
  float: left;
  width: 50%;
  z-index: 1;
  position: relative;
  top: 0px;
  left: 0px;
}

.btn-group .buttonleft:hover {
  background-color: #4CAF50;
}

.btn-group .buttonright {
  background-color: #e7e7e7; color: black; /* Green */
  border: 1px solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
  float: left;
  width: 50%;
  z-index: 1;
  position: relative;
  top: 0px;
  left: 0px;
}

.btn-group .buttonright:hover {
  background-color: #f44336;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.pen{
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 32px;
  width: 86.9%;
  z-index: 2;
  position: relative;
  top: 0px;
  left: 0px;
}

.ant{
  background-color: #f44336; /* Red */
  border: 1px solid green;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 32px;
  width: 86.9%;
  z-index: 2;
  position: relative;
  top: 0px;
  left: 0px;
}

